<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{REPORT_TITLE}</title>
		<link rel="stylesheet" href="{STYLE}" type="text/css" media="screen" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span12">
					<table border="0"  style="margin-bottom: 10px;">
						<tbody>
							<tr>
								<td><img src="{LOGO}" /></td>
								<td class="tleft"><h2> {SCHOOL_NAME} </h2>
								<p>
									<h3>{SCHOOL_ADDRESS}</h3>
								</p></td>
							</tr>
							<tr>								
								<td colspan="2" style="padding-top:10px;padding-bottom: 10px;">STUDENT: <b>{STUDENT}</b></td>
								</tr>
								<tr>								
								<td colspan="2" style="padding-top:10px;padding-bottom: 10px;">STUDENT No.: <b>{STUDENT_NUMBER}</b></td>
								</tr>
							<tr>								
								<td>CLASS/TERM: <b>{CLASS_NAME}</b></td>
								<td style="text-align:right;">{TODAY}</td>
							</tr>
						</tbody>
					</table>					
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h3 style="text-align:center">TERM FEES</h3>					
					{TERM_FEES}
				</div>
			</div>		
			<div class="row">
				<div class="span12">
					<table>
						<tbody>
							<tr>
								<td width="80px"> Printed by: </td>
								<td> {CURRENT_USER} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Signed _______________________ </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>